# Rename this file to .env after filling in your DATABASE_URI
# Do not surround the URI with quotes
DATABASE_URI=database_uri_that_contains_records
NODE_ENV=add_server_environment_e.g.,_development_or_production
PORT=4000